@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');


body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* * ===== NAVIGATION ======*/ */
.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;

}
.logo {
    display: block;
    height: auto;
    width: 52px;
    padding-top: 5px;
    margin-right: 15px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar .nav > li > a {
  line-height: 50px;
}

.navbar-header h1 {
    letter-spacing: 1px;
    color: black !important;
    font-family: 'Lobster Two', cursive;
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 12px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}


.CHeader
{
    margin-left: 50px;
}

.icon-favorite
{
    margin-top: 30px;
    margin-left: 50px;
    display: inline-block;
}


/* .icon-favorite-img
{
   border-radius: 50px;
    display: inline-block; 
} */


.icon-cart
{
    margin-left: 30px;
}

.container-left
{
    margin-top: 80px;
    float : left;
    height: 1080px;
    width: 250px;
    /* background-color: gray; */
}



.container-right
{
    margin-top: 80px;
    margin-left: 20px;
    float: left;
    height: 1000px;
    width: 870px;
    background-color: white;


    display: flex;
    justify-content : space-around;
    flex-direction: row;
    flex-wrap: wrap;


}


.footer-container
{
    margin-top: 30px;
    width: 100%;
    height: 400px;
    background-color: black;
    float: left;
    text-align: center;
    
}


.container{
    flex-wrap: nowrap
}

.item-Main
{
    margin-top: 40px;
    width: 250px;
    height: 300px;
    /* background-color: turquoise; */
    float: left;


    
}

.item-img
{
    position: relative;
    width: 210px;
    height: 250px;
    margin-left: 20px;
}

.btn-favorite
{
    position: absolute;
    height: 35px;
    width: 35px;
    margin-left: -35px;
    color: none;
    border: none;
    border-radius: 50%;
}

.icon-flow1
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: -50px;
    background-color: white;
    border-radius: 50%;
}
.icon-flow2
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 0px;
    background-color: black;
    
}


.icon-flow3
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: white;
    border-radius: 50%;

}


.icon-flow4
{
    position: absolute;
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: white;
    border-radius: 50%;

}

.about-shoes
{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.ID-container
{
    float: left;
    margin-top: 0px;
    height: 1000px;
    width: 100%;
    background-color: gray;
}


.ID-container-Left
{
    float: left;
    margin-top: 80px;
    height: 1200px;
    width: 70%;
    background-color: green;
}


.ID-container-Right
{
    float: left;
    margin-top: 80px;
    height: 1200px;
    width: 30%;
    background-color: white;
}

.ID-img-1
{
    width: 50%;
    height: 600px;
    float: left;
}

.btn-ID-add
{
    margin-top: 6px;
    width: 65%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: black;
}


.btn-ID-WishList
{
    margin-top: 6px;
    width: 33%;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    background-color: white;
}


.ID-Footer
{
    float: left;
    width: 100%;
    height: 300px;
    border: black;
}


.ID-Footer-Left
{
    margin-left: 50px;
    width: 30%;
    height: 300px;
    float: left;
}

.ID-Footer-Right
{
    float: left;
    margin-left: 50px;
    width: 30%;
    height: 300px;
}

.input-color-main
{
    width: 100%;
    height: 50px; 
    border-radius: 5px; 
    font-size: 20px;
}

/* @media screen and (min-width: 768px)
.container-right {
    width: 200px;
    display: block;
    position: relative;
    z-index: 100;
} */




.custom-select {
    position: relative;
    font-family: Arial;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.btn-header
{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

a 
{
    cursor: pointer;
   
}

